{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block title %}AppBundle:Dishes:index{% endblock %}
{% block navbar %}
<nav id="mainNav" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand cursive" href="{{ path('app_texttranslator_texts') }}">
                {% trans %}
                    Все тексты
                {% endtrans %}
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('app_locale_changelocal', {'_locale' : 'en'}) }}" class="menu logout">
                        EN
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_locale_changelocal', {'_locale' : 'ru'}) }}" class="menu logout">
                        RU
                    </a>
                </li>

                {% if not is_granted('ROLE_USER') %}
                    <li><a href="{{ path('fos_user_security_login') }}">
                            {% trans %}Войти{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">
                            {% trans %}Зарегистрироваться{% endtrans %}
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                <li class="username">
                    {{ app.user.username }}
                </li>
                <li>
                    <a href="/logout">
                        {% trans %}Выйти{% endtrans %}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock navbar %}
{% block content %}

{% endblock %}