{% extends '@App/main.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block title %}AppBundle:TextTranslator:newText{% endblock %}

{% block content %}
    <div class="container">
        <ul>
            {% for text in texts %}
                <li>
                    <a href="{{ path('app_texttranslator_translate', {'text_id': text.id}) }}">
                        {{ text.translate('ru').text }}
                    </a>
                </li>
                <hr>
            {% endfor %}
        </ul>
        {% if is_granted('ROLE_USER') %}
        {{ form(form) }}
        {% endif %}
    </div>
{% endblock %}
