{% extends '@App/main.html.twig' %}

{% block title %}AppBundle:TextTranslator:translate{% endblock %}

{% block content %}
    <div class="container">
        <h3>{{ text.translate('ru').text }}</h3>
        <hr>
        {% for locale in locales %}
            <h3><b>На {{ locale }} -> </b>{{ text.translate(locale).text }}</h3>
        {% endfor %}
        {% if not is_granted('ROLE_USER') %}
            {% for nt in notTranslated %}
                <h3><i>На {{ nt }} еще не перевели! Быть может, вы переведете?</i></h3>
            {% endfor %}
        {% endif %}

        {% if is_granted('ROLE_USER') %}
        {{ form(form) }}
        {% endif %}
    </div>
{% endblock %}
