{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    <a href="{{ path('app_texttranslator_texts') }}">Main PAge</a>
{% endblock fos_user_content %}
