{% extends '@App/main.html.twig' %}
{% block navbar %}
    <nav id="mainNav" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand cursive" href="{{ path('app_texttranslator_texts') }}">
                    {% trans %}
                    Продолжить анонимно
                    {% endtrans %}
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('app_locale_changelocal', {'_locale' : 'en'}) }}" class="menu logout">
                            EN
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_locale_changelocal', {'_locale' : 'ru'}) }}" class="menu logout">
                            RU
                        </a>
                    </li>
                    {% if app.request.attributes.get('_route') == 'fos_user_security_login' %}
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">
                                {% trans %}Зарегистрироваться{% endtrans %}
                            </a>
                        </li>
                        {% elseif app.request.attributes.get('_route') == 'fos_user_registration_register' %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">
                                {% trans %}
                                Войти
                                {% endtrans %}
                            </a>
                        </li>
                        {% endif %}
                    <li>
                        {% if app.request.attributes.get('_route') != 'fos_user_resetting_request' and app.request.attributes.get('_route') != 'fos_user_registration_register' %}
                        <a href="{{ path('fos_user_resetting_request') }}">
                            {% trans %}Забыли пароль?{% endtrans %}
                        </a>
                            {% elseif app.request.attributes.get('_route') == 'fos_user_resetting_request'%}
                                <a href="{{ path('fos_user_security_login') }}">{% trans %}Вернуться{% endtrans %}</a>
                            {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock navbar %}
{% block content %}
    {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
        </div>

{% endblock %}